@font-face {
    font-family: tech;
    src: url(Exo2.0-Bold.otf);
}

body{
    background-image: url("Digital\ Padlock.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: tech;
}
.header{
    color: #3E6D9C;
    margin: 60px 50px 30px 50px;
    }
    #h2{
        color:#E9F8F9;
    }
    
#input{
    margin: 0 50px;
    color: #3E6D9C;
}
#length{
    width: 155px;
}
#Exclude{
    color: white;
    margin: 0 50px;
}
#exclude{
    color: #3E6D9C;
    display: flex;
    margin: 0 50px;
}
#exclude2{
    color: #3E6D9C;
    display: flex;
    margin: 0 50px;
}
#generate-btn{
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    background: #3E6D9C;
    font-family: tech;
    margin: 20px 50px;
}
#generate-btn:hover{
    padding: 10px 15px;
     transition: padding 0.5s; 
}

.box-gen{
    display: flex;
    padding: 5px 10px;
    width: 400px;
    margin: 0 40px;
    justify-content: space-between;
    
}

#o1, #o2{
    background: white;
    color: #3E6D9C;
    border-radius:5px ;
    border: none ;
    height: 25px;
    width: 190px;
    font-weight: bold;
}
.me{
    color: white;
    margin: 0 50px;
}
a{
 text-decoration: none;
 color: #3E6D9C;
}
